.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.TodoList {
  margin: 4px;
  width: 768px;
}

.TodoListItem {
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 28px;
  justify-content: space-between;
  margin: 4px;
  padding: 4px;
}

.TodoListItem-input:hover {
  cursor: pointer;
}

.TodoListItem-description {
  margin-left: 4px;
}

.TodoListItem-date {
  border: 1px solid black;
  padding: 4px;
}

.complete {
  background-color: lightgreen;
}

.overdue {
  background-color: lightpink;
}

.strikethrough {
  text-decoration: line-through;
}
